footer{
    width: 100%;
    height: fit-content;
    padding: 10px 0;
    text-align: center;
    border-top: solid #cbcccc 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* bottom: 0; */
  }
/* 
  @media only screen and (max-width: 800px) {
    footer{
      bottom: -40px;
    }    
  } */