.upvote-icon{
    background-color: transparent;
}
.downvote-icon{
    background-color: transparent;
}

.expand-icon{
    background-color: transparent;
}

.bg-transparent{
    background-color: transparent;
}