<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie-edge">
        <title>Welcome to Universitea</title>
    </head>
    <body>
        <h2>Hi {{username}}</h2>
        <p>Verify your account by clicking <a href={{link}}>here</a></p>
    </body>
</html>